@using MiPrimerAplicacionWeb.Models
@model EmpleadoCLS

@{
    ViewBag.Title = "Agregar";
    List<SelectListItem> listaSexo = (List<SelectListItem>)ViewBag.listaSexo;
    List<SelectListItem> listaTipoContrato = (List<SelectListItem>)ViewBag.listaTipoContrato;
    List<SelectListItem> listaTipoUsuario = (List<SelectListItem>)ViewBag.listaTipoUsuario;
}

<h2>Agregar Empleado</h2>


<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Agregar", "Empleado", FormMethod.Post, new { @id = "frmAgregarEmpleado"}))
        {
            <div>
                @Html.LabelFor(p => p.nombre)
                @Html.TextBoxFor(p => p.nombre, new { @class = "form-control" })
                @Html.ValidationMessage("nombre", new { @class = "text-danger" })
                @if (Model != null && Model.mensajeError2 != null)
                {
                    @Html.Label(Model.mensajeError2, new { @class = "text-danger" })
                }
            </div>
            <div>
                @Html.LabelFor(p => p.appaterno)
                @Html.TextBoxFor(p => p.appaterno, new { @class = "form-control" })
                @Html.ValidationMessage("appaterno", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.apmaterno)
                @Html.TextBoxFor(p => p.apmaterno, new { @class = "form-control" })
                @Html.ValidationMessage("apmaterno", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.fechaContrato)
                @Html.EditorFor(p => p.fechaContrato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("fechaContrato", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.iidSexo)
                @Html.DropDownList("iidSexo", listaSexo, null, new { @class = "form-control" })
                @Html.ValidationMessage("iidSexo", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.sueldo)
                @Html.TextBoxFor(p => p.sueldo, new { @class = "form-control" })
                @Html.ValidationMessage("sueldo", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.iidtipoContrato)
                @Html.DropDownList("iidtipoContrato", listaTipoContrato, null, new { @class = "form-control" })
                @Html.ValidationMessage("iidtipoContrato", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.iidtipoUsuario)
                @Html.DropDownList("iidtipoUsuario", listaTipoUsuario, null, new { @class = "form-control" })
                @Html.ValidationMessage("iidtipoUsuario", new { @class = "text-danger" })
            </div>


            <br />
            <div style="margin: auto">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Guardar
                </button>
                <!--<input type="submit" class="btn btn-primary" value="Guardar" />-->
                @Html.ActionLink("Regresar", "Index", "Empleado", null, new { @class = "btn btn-danger" })
            </div>
        }
    </div>
</div>


<script>

    function Agregar() {
        var frmAgregarEmpleado = document.getElementById("frmAgregarEmpleado");
        frmAgregarEmpleado.submit();
    }

    /*
    var frmAgregarEmpleado = document.getElementById("frmAgregarEmpleado");
    frmAgregarEmpleado.onsubmit = function (e) {
        e.preventDefault();
        if (confirm("¿Deseas agregar una Marca?") == 1) {
            frmAgregarEmpleado.submit();
        }
    }
    */

</script>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Deseas agregar un Empleado?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding: 1em;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="Agregar()">Guardar</button>
            </div>
        </div>
    </div>
</div>