@using MiPrimerAplicacionWeb.Models
@model List<EmpleadoCLS>

@{
    ViewBag.Title = "Index";
    //List<SelectListItem> listaSexo = (List<SelectListItem>)ViewBag.listaSexo;
    // List<SelectListItem> listaTipoContrato = (List<SelectListItem>)ViewBag.listaTipoContrato;
    List<SelectListItem> listaTipoUsuario = (List<SelectListItem>)ViewBag.listaTipoUsuario;
}

<h2>Empleado</h2>
@Html.ActionLink("Agregar", "Agregar", "Empleado", null, new { @class = "btn btn-primary" })

@using (Html.BeginForm("Index", "Empleado", FormMethod.Get,new { @id= "frmBusquedaEmpleado" }))
{
@Html.Label("Tipo de usuario")
@Html.DropDownList("iidtipoUsuario", listaTipoUsuario)


<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <td>@Html.LabelFor(p => Model[0].iidEmpleado)</td>
            <td>@Html.LabelFor(p => Model[0].nombre)</td>
            <td>@Html.LabelFor(p => Model[0].appaterno)</td>
            <td>@Html.LabelFor(p => Model[0].apmaterno)</td>
            <td>@Html.LabelFor(p => Model[0].nombreTipoContrato)</td>
            <td>@Html.LabelFor(p => Model[0].nombreTipoUsuario)</td>
            <td width="5%">Operaciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.iidEmpleado</td>
                <td>@item.nombre</td>
                <td>@item.appaterno</td>
                <td>@item.apmaterno</td>
                <td>@item.nombreTipoContrato</td>
                <td>@item.nombreTipoUsuario</td>
                <td>
                    @Html.ActionLink(" ", "Editar", "Empleado", new { id = @item.iidEmpleado }, new { @class = "glyphicon glyphicon-edit btn btn-primary" })
                    @*@Html.ActionLink(" ", "Elimninar", "Empleado", new { id = @item.iidEmpleado }, new { @class = "glyphicon glyphicon-trash  btn btn-danger" })*@
                    <button type="button" class="glyphicon glyphicon-trash  btn btn-danger" data-toggle="modal" data-target="#exampleModal" onclick="MostrarPopup(@item.iidEmpleado)"></button>
                </td>
            </tr>
        }
    </tbody>
</table>
}


@using (Html.BeginForm("Eliminar", "Empleado", FormMethod.Post, new { @id = "frmEliminarEmpleado" }))
{
    @Html.Hidden("iidEmpleado")
}


<script>


    // Mostrar pop-up para eliminar
    function MostrarPopup(id) {
        document.getElementById("iidEmpleado").value = id;
    }





    function Eliminar() {
        var frmEliminarEmpleado = document.getElementById("frmEliminarEmpleado");
        frmEliminarEmpleado.submit();
    }



    var iidtipoUsuario = document.getElementById("iidtipoUsuario");
    iidtipoUsuario.onchange = function () {

        // busqueda sin boton Buscar
        var frmBusquedaEmpleado = document.getElementById("frmBusquedaEmpleado");
        frmBusquedaEmpleado.submit();

    }

</script>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro de eliminar el Empleado seleccionado?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding:1em;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" onclick="Eliminar()">Si</button>
            </div>
        </div>
    </div>
</div>